*{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
}
@media (max-width: 1920px) {

.chat-page{
    display: grid;
    grid-template-columns: 72px 2fr 7fr;
    /* grid-template-rows: 1fr 9fr; */
    grid-template-areas:
        "side-bar main"
        "side-bar main";
    min-height: 100vh;
    width: 100vw;
}


.messages-list-container{
    display: flex;
    justify-content: center;
    border-right: 1px solid rgb(215, 215, 215);
}
}


@media (max-width: 420px) {
    .chat-page{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 100vw;
    }
}


