


.home-feed-container {
    display: flex;
    flex-direction: column;
    align-items: center;


    /* justify-content: flex-start; */
}



.img-title-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 5px 0;
}

.home-page-img-title {
display: flex;
flex-direction: column;
align-items: flex-start;

}

.home-user-title-container{
    display: flex;
    align-items: center;
    gap: 4px;
}

.img-title-more-option {}

.home-title-user-name {
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.home-title-dot {
    display:flex;
    align-items: center;
    color: #737373;
    height: 18px;
    width: 6.5px;
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 18px;
    line-height: 18px;
}

.home-title-verified{
    width: auto;
    height: auto;
}

.home-posted-time{
color: #737373;
font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 14px;
font-weight: 400;
height: auto;
line-height: 18px;
}

.home-more-options-icon{
    display:flex;
    align-items: center; 
}

.home-title-details{
font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 12px;
font-weight: 400;
height: 18px;
line-height: 16px;
}

.home-title-caption{
font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 12px;
font-weight: 400;
height: 18px;
line-height: 16px;
}

a{
    text-decoration: none;

}